.vscode/
eRSDTransformerWorkspace/
eRSDTransformerWorkspace/tooling-cli-2.1.0-SNAPSHOT.jar
eRSDTransformerWorkspace/plandefinition/plandefinition-us-ecr-specification.xml

# terraform
.terraform/
*.out
*.tfstate.backup
terraform.tfstate
.idea
ecr/.idea
ecr/target
*.iml
