# Ignore everything
*

# Allow files and directories
!/helpers
!/components
!/backend
!/hooks
!/pages
!/public
!/styles
!/worker
!/services
!/store
!/types
!/utils
!.babelrc
!cache.ts
!fhirClientOptions.ts
!config.ts
!constants.ts
!fhirClients.ts
!middleware.ts
!next-env.d.ts
!next.config.js
!tsconfig.json
!utils.ts
!package.json
!package-lock.json

# Ignore unnecessary files inside allowed directories
# This should go after the allowed directories
**/*~
**/*.log
**/.DS_Store
**/Thumbs.db