# .env.local example

# In NextJS, .env.local file only exposes keys to the FE prepended with NEXT_PUBLIC
# do not expose anything that is sensitive

FHIR_CDR_URL=http://localhost:8082/fhir
EXTERNAL_FHIR_CDR_URL=http://localhost:3000/fhir # public-facing url for fhir server, in production it'll be https://vsm.aimsplatform.org/fhir

# optional if basic auth is enabled in cdr server
# FHIR_CDR_BASIC_AUTH_USERNAME=admin
# FHIR_CDR_BASIC_AUTH_PASSWORD=password

NEXT_PUBLIC_VSAC_BASE_URL=https://cts.nlm.nih.gov/fhir
ONTOSERVER_R4_BASE_URL=https://r4.ontoserver.csiro.au/fhir
CONDITIONS_CANONICAL=http://ersd.aimsplatform.org/fhir/ValueSet/rckms-condition-codes
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=next_secret

# defaults for content creation
NEXT_PUBLIC_DEFAULT_PUBLISHER="CSTE Steward"
NEXT_PUBLIC_DEFAULT_AUTHOR="CSTE Author"
NEXT_PUBLIC_DEFAULT_PUBLISHING_URL=http://www.test.com/fhir

# keycloak
# certain values must match the keycloak configure file
KEYCLOAK_ID=aphl_app
KEYCLOAK_SECRET=<YOUR KEYCLOAK SECRET>
KEYCLOAK_SERVER_AUTH_ID=server_auth
KEYCLOAK_ISSUER=http://localhost:8080/realms/aphl
KEYCLOAK_REDIRECT_URI=http://localhost:3000/api/auth/callback/keycloak


JOB_EXPIRATION=86400
REDIS_HOST=localhost
# Example of a key that is used to encrypt terminology server credentials
KEY="08d63e7a15c4fa309c58d0106cae51021ba60bc51adcef3ada28228a86f3bcd6"
LOG_LEVEL=info # minimum log level to display, options in priority order are: debug, info, warn, error

# For analyzing the bundle size
# ANALYZE=false
