# .env.local example

# In NextJS, .env.local file only exposes keys to the FE prepended with NEXT_PUBLIC
# do not expose anything that is sensitive

FHIR_CDR_URL=http://localhost:8082/fhir
VSAC_USERNAME=<YOUR VSAC USERNAME>
VSAC_API_KEY=<YOUR VSAC API KEY>
NEXT_PUBLIC_VSAC_BASE_URL=https://cts.nlm.nih.gov/fhir
NEXT_PUBLIC_ONTOSERVER_R4_BASE_URL=https://r4.ontoserver.csiro.au/fhir
CONDITIONS_CANONICAL=http://hl7.org/fhir/us/ecr/ValueSet/rckms-condition-codes
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=next_secret
# Test terminology server info
NEXT_PUBLIC_SHOW_TEST_TERMINOLOGY_SERVER=true

# defaults for content creation
NEXT_PUBLIC_DEFAULT_PUBLISHER=CSTE Steward
NEXT_PUBLIC_DEFAULT_AUTHOR=CSTE Author
NEXT_PUBLIC_DEFAULT_PUBLISHING_URL=http://www.test.com

# keycloak
# certain values must match the keycloak configure file
KEYCLOAK_ID=aphl_app
KEYCLOAK_SECRET=<YOUR KEYCLOAK SECRET>
KEYCLOAK_ISSUER=http://localhost:8080/auth/realms/aphl
KEYCLOAK_REDIRECT_URI=http://localhost:3000/api/auth/callback/keycloak

ENABLE_CACHE=true
REDIS_HOST=localhost