# .env.local example

NEXT_PUBLIC_VSAC_BASE_URL=https://cts.nlm.nih.gov/fhir
NEXT_PUBLIC_ONTOSERVER_R4_BASE_URL=https://r4.ontoserver.csiro.au/fhir
VSAC_USERNAME=apikey
VSAC_API_KEY=123456
FHIR_CDR_URL=http://localhost:8080/fhir
CONDITIONS_CANONICAL=http://hl7.org/fhir/us/ecr/ValueSet/rckms-condition-codes

# Show ontoserver + any other available test servers
NEXT_PUBLIC_SHOW_TEST_TERMINOLOGY_SERVER = true

# keycloak
# certain values must match the keycloak configure file
KEYCLOAK_ID=aphl-app
KEYCLOAK_SECRET=<YOUR LOCAL KEYCLOAK SECRET>
KEYCLOAK_ISSUER=http://localhost:8080/auth/realms/aphl
KEYCLOAK_REDIRECT_URI=http://localhost:3000/api/auth/callback/keycloak